.github/
.gitignore
.vscode-test/**
.vscode/**
**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
images/sample.png
jest.config.js
node_modules/
out/test/**
renovate.json
src/**
vsc-extension-quickstart.md
